<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Schoolmap.Net</a></p>
        </div>
    </div>
</header>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWVbVQzp7brCHZzomUT2hFsEjvAPK8xc8&sensor=false">
</script>
<script type="text/javascript">
	function initialize() {
		var mapOptions = {
			center: new google.maps.LatLng(51.52269, -0.984406),
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

		google.maps.event.addListener(map, 'idle', function () {
			getSchools(map.getBounds());
		});

	}

	function getSchools(boundries) {
		var northEast = boundries.getNorthEast();
		var southWest = boundries.getSouthWest();
		var northEastLat = northEast.lat();
		var northEastLong = northEast.lng();
		var southWestLat = southWest.lat();
		var southWestLong = southWest.lng();

		$.ajax({
			type: 'post',
			url: '/Home/GetSchools',
			dataType: 'json',
			data: JSON.stringify({ northEastLat: northEastLat, northEastLong: northEastLong, southWestLat: southWestLat, southWestLong: southWestLong  }),
			contentType: 'application/json; charset=utf-8',
			success: function(l) {
			//	alert("Done");
			},
			error : function() {
			//	alert("Error");
			}
		});

		/*jQuery.getJSON("/Home/GetSchools", data: JSON.stringify({ northEastLat: northEastLat, northEastLong: northEastLong, southWestLat: southWestLat, southWestLong: southWestLong  }), 
		function () {
			
		}).error(function () { alert("error"); });*/
	}

	{
		
	}
</script>
<body onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%">
	</div>
</body>
