<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Schoolmap.Net</a></p>
        </div>
    </div>
</header>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWVbVQzp7brCHZzomUT2hFsEjvAPK8xc8&sensor=false">
</script>
<script type="text/javascript">
	var markersArray = [];
	var map; 
	function initialize() {
		var mapOptions = {
			center: new google.maps.LatLng(51.52269, -0.984406),
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map_canvas"),
			mapOptions);

		google.maps.event.addListener(map, 'idle', function () {
			getSchools(map.getBounds(),$("#slider").slider("value"));
		});

	}

	google.maps.Map.prototype.clearOverlays = function() {
		if (markersArray) {
			for (var i = 0; i < markersArray.length; i++) {
				markersArray[i].setMap(null);
			}
		}
	};

	function clearOverlays() {
		if (markersArray) {
			for (var i = 0; i < markersArray.length; i++) {
				markersArray[i].setMap(null);
			}
		}
	}


	function getSchools(boundries, slideValue) {
		var northEast = boundries.getNorthEast();
		var southWest = boundries.getSouthWest();
		var northEastLat = northEast.lat();
		var northEastLong = northEast.lng();
		var southWestLat = southWest.lat();
		var southWestLong = southWest.lng();
		var ofstedRating = slideValue;
	
		$.ajax({
			type: 'post',
			url: '/Home/GetSchools',
			dataType: 'json',
			data: JSON.stringify({ northEastLat: northEastLat, northEastLong: northEastLong, southWestLat: southWestLat, southWestLong: southWestLong, ofstedRating: ofstedRating }),
			contentType: 'application/json; charset=utf-8',
			success: function (result) {
				map.clearOverlays();
				result = jQuery.parseJSON(result);
				map.placeMarkers =  $.each(result,function (i,item) {
					var lat = item.Location.Latitude;
					var lng = item.Location.Longitude;
					var point = new google.maps.LatLng(parseFloat(lat), parseFloat(lng));
					// extend the bounds to include the new point      
					// add the marker itself      
					var marker = new google.maps.Marker({
						position: point,
						map: map
					});
					markersArray.push(marker);
						var infoWindow = new google.maps.InfoWindow();
							var html = '<b>' + item.SchoolName + '</b><br />' + item.PostCode;
							// add a listener to open the tooltip when a user clicks on one of the markers      
							google.maps.event.addListener(marker, 'click', function () {
								infoWindow.setContent(html);
								infoWindow.open(map, marker);
							});
				});
			},
			error: function () {
				alert("Error");
			}
		});
	}

</script>
<body onload="initialize()">
    @Html.Partial("SearchSidebar")
    <div id="map_canvas" style="">
    </div>
	
</body>
