@model SchoolsNearMe.Models.DumperStats

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            Imported @Model.Documents  
        </div>
    </body>
</html>