@model dynamic
@{
    ViewBag.Title = "About";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="container">
    <h1>
        What is Schools Near Me for?</h1>
    <p>
        Schools Near Me is designed to let you find the schools in your area and be able to find their OFSTED rating easily. 
        If your looking for a new house (like I was when I started working on this site) or your kids will soon be choosing a school</p>
</div>
<!-- /container -->
