@model dynamic
@{
	ViewBag.Title = "About";
	Layout = "../Shared/_Layout.cshtml";
}
<div class="container">
	<h2>
		What is Schools Near Me for?</h2>
	<p>
		Schools Near Me is designed to let you find the schools in your area and be able
		to find their OFSTED rating easily. If your looking for a new house (like I was
		when I started working on this site) or your children will soon be choosing a school
		then this site may help you make a decision</p>
	<h2>
		What data do you show?</h2>
	<p>
		We show the location of schools within the boundries of the map, the schools are
		colour coded by their OFSTED rating and have different icons depending on the age
		range served by the school. Dragging the map around will cause the schools in the
		map boundries to be loaded.
	</p>
	<ul>
		<li>Green - OFSTED rating of Outstanding</li>
		<li>Blue - OFSTED rating of Good</li>
		<li>Yellow - OFSTED rating of Satisfactory</li>
		<li>Red - OFSTED rating of Poor</li>
	</ul>
</div>
