﻿<header>
</header>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWVbVQzp7brCHZzomUT2hFsEjvAPK8xc8&sensor=false">
</script>
<script type="text/javascript" src="~/Scripts/PageScripts/home.js">
</script>
<div id="mapAndSidebar">
    @Html.Partial("SearchSidebar")
    <div id="map_canvas">
    </div>
</div>
