﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Schools Near Me</a></p>
        </div>
    </div>
</header>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWVbVQzp7brCHZzomUT2hFsEjvAPK8xc8&sensor=false">
</script>
<script type="text/javascript" src="~/Scripts/PageScripts/home.js">
</script>
@Html.Partial("SearchSidebar")
<div id="map_canvas" >
</div>